{% extends 'base.html'%}

{%block content%}

{% load crispy_forms_tags %}
<div class="container">
    <h1 class="text-center text-white">Edit Competition</h1>
    <form method="POST" class="text-white">{% csrf_token %}
        <div class="form-group">
            {{ form | crispy }}
        </div>
        <button type="submit" class="save btn btn-success" name="save-btn">Save</button>
        <button type="submit" class = "btn btn-danger" name="delete-btn">Delete</button>
    </form>
    
</div>

{% endblock %}
