{% extends 'base.html'%}

{%block content%}

<br>
<p  class="list-group-item list-group-item-dark flex-column align-items-start text-center">
  COMPETITIONS
</p>
<br>
<div class="card-deck">
  {% for c in competitions %}
  <div class="card bg-dark text-white" style="width: 18rem; margin-bottom:10px;">
    <div class="card-header text-center">
       {{c.sdate}} - {{c.edate}}
    </div>
    <div class="card-body bg-secondary">
      <h5 class="card-title">{{ c.name }}</h5>
      <h6 class="card-subtitle mb-2"> Fee: €{{c.fee}}</h6>
      <h6 class="card-subtitle mb-2"> Prize: €{{c.prize}}</h6>
      <p class="card-text">{{c.description}}.</p>
    </div>
    <div class="card-footer text-muted text-center ">
      <a href="{% url 'edit_comp' id=c.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'enter_comp' id=c.id %}" class="btn btn-primary">Enter</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}