{% extends 'base.html'%}

{%block content%}

<div class="list-group">
    <br>
    <div class="list">
      <p  class="list-group-item list-group-item-action flex-column align-items-start text-center disabled">
        Shop Names
      </p>
      {% for c in competitions %}
        <a href="{% url 'index' %}"
           class="list-group-item list-group-item-action list-group-item-dark flex-column text-center">
            {{ c.name }} <span class="badge badge-pill badge-primary">{{ c.prize }}</span>
        </a>
      {% endfor %}

    </div>

</div>
{% endblock %}