{% extends 'base.html'%}

{%block content%}

<!-- <div class="list-group">
    <br>
    <div class="list">
      <p  class="list-group-item list-group-item-action flex-column align-items-start text-center disabled">
        Shop Names
      </p>
      {% for c in competitions %}
        <a href="{% url 'index' %}"
           class="list-group-item list-group-item-action list-group-item-dark flex-column text-center">
            {{ c.name }} <span class="badge badge-pill badge-primary">{{ c.prize }}</span>
        </a>
      {% endfor %}
    </div>
</div> -->

<br>
<p  class="list-group-item list-group-item-action flex-column align-items-start text-center disabled">
  Shop Names
</p>
<br>
<div class="card-deck">
  {% for c in competitions %}
    <a href="{% url 'index' %}">
      <div class="card" style="width: 18rem; margin-bottom:10px;">
        <div class="card-body">
          <h5 class="card-title">{{ c.name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> Fee: €{{c.fee}}</h6>
          <h6 class="card-subtitle mb-2 text-muted"> Prize: €{{c.prize}}</h6>
          <h6 class="card-subtitle mb-2 text-muted"> Start Date: {{c.sdate}}</h6>
          <h6 class="card-subtitle mb-2 text-muted"> End Date: {{c.edate}}</h6>
          <p class="card-text">{{c.description}}.</p>  
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}